.spark1 { background: url('../img/effects/sparks.png') no-repeat 0 0; width: 20px; height: 24px; }
.spark2 { background: url('../img/effects/sparks.png') no-repeat -34px -6px; width: 24px; height: 22px; }
.spark3 { background: url('../img/effects/sparks.png') no-repeat -66px -2px; width: 26px; height: 26px; }
.spark4 { background: url('../img/effects/sparks.png') no-repeat -102px -2px; width: 36px; height: 20px; }
.spark5 { background: url('../img/effects/sparks.png') no-repeat -102px -2px; width: 36px; height: 20px; }